h1{
    color: crimson;
    font-size: 50px;
}
h2{
    font-size: 40px;
}
img{
    max-width: 90%;
    height: auto;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-bottom: 5%;
    padding-top: 5%;
}

p{
    font-size: 30px;
    text-align: justify;
}
.top-banner{
    background-image: url("images/header-bg.png");
}
.link-button{
    text-decoration: none;
    background-color: crimson;
    padding: 10px 20px;
    border-radius: 10%;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.latest-work{
    width: 30px;
    height: 30px;
}
  .client{
      text-align: center;
  }
  footer{
      text-align: center;
  }
  .mail{
    padding: 5px 0px;
    border-radius: 10%;
      background-color: red;
      text-align: center;
      box-sizing: 30 20;
  }