body{
    font-family: 'Roboto', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 10%;
}
.background1{
    background-image: url(images/header-bg.png);
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
}
.first-section{
    width: 40%;
    margin-left: 5%;
    margin-top: 3%;
    float: left;
    padding-bottom: 5%;
}
.first-section img{
    width: 100%;
}
h2{
    margin-top: 25%;
    margin-bottom: -5%;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 1%;
    color: #ff3366;
}
.link-button{
    text-decoration: none;
    background-color: #ff3366;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.background2{
    background-image: url(images/biography-bg.png);
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	
}
.half-width{
    width: 40%;
    margin-left: 5%;
    float: left;
    padding-bottom: 5%;
}
.half-width img{
    width: 110%;
    margin-bottom: 20%;
}

.bio{
    margin-top: 40%;
}
.work{
    font-size: 30px;
    font-weight: 700;
    padding-top: 2%;
    padding-bottom: 2%;
}
.size{
    width: 30%;
    display: inline;
    margin-left: 1%;
    padding-left: 6px;
   
}
.client{
    text-align: center;
    font-size: 50px;
}
h3{
    font-size: 30px;
    margin-bottom: -1%;

}
.alies
{
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
}
.mail{
    padding: 5px 10px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    color: white;
    background-color: rgb(255,51,102);
    text-align: center;
    margin-top: 5%;
}
footer{
    text-align: center;
    color: gray;
    margin-top: 10%;
}
